*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: aliceblue;
}
nav{
    flex: 1;
    text-align: right;
    text-decoration-line: none;

}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #125372;
    font-size: 25px;
}
.main{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    padding: 0.5px 10px 0.5px 10px;
}
.container{
    height: 10px;
    width: 10px;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    color: #125372;
}